.wbproductcountdown .count.curr, .wbproductcountdown .count.bottom {
    display: none;
}
.wbproductcountdown .hidden {
    display: none;
}

.wbproductcountdown {
    padding-bottom: 5px;
}

.product_list .wbproductcountdown.over_img, .product_list .wbproductcountdown.custom_over_img {
    background: rgba(255, 255, 255, 0.8);
    padding-top: 7px;
    padding-bottom: 0;
}

.wbpc-main .time {
    margin: 0 2px 3.2em 2px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    position: relative;
    height: 50px;
    width: 18%;
    max-width: 4em;
}
.wbpc-main .count {
    background: rgba(226, 226, 226, 0.5);
    color: #333333;
    display: block;
    font-family: 'Arial', sans-serif;
    font-size: 2em;
    line-height: 2.4em;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}
.wbpc-main .seconds .count {
    color: #f13340;
}
.wbpc-main .label {
    font-size: 1em;
    margin-top: 5px;
    display: block;
    position: absolute;
    top: 5em;
    width: 100%;
    color: #202020;
    padding: 0;
    font-weight: normal;
}

@media (max-width: 1199px) {
    .wbpc-main .count {
        font-size: 1.5em;
    }
    .wbpc-main .time {
        /*width: 36px;*/
        margin-bottom: 20px;
    }
    .wbpc-main .label {
        top: 45px;
    }
}