.wbproductcountdown {
    font-weight: normal;
    font-size: 12px;
    position: relative;
    z-index: 1;
}
.wbpc-main {
    white-space: nowrap;
}
.wbpc-main .time {
    min-width: 3.5em;
}
#left_column .wbproductcountdown,
#right_column .wbproductcountdown {
    font-size: 10px;
}
.wbproductcountdown h4 {
    margin-top: 0;
    text-transform: uppercase;
    color: #faba48;
}
.wbproductcountdown .hide_zero_weeks .weeks {
    display: none;
}
.product_list .wbproductcountdown.over_img.wbpc15, .product_list .wbproductcountdown.custom_over_img.wbpc15,
#product_list .wbproductcountdown.over_img.wbpc15, #product_list .wbproductcountdown.custom_over_img.wbpc15 {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin-top: -25px;
}
.product_list .wbproductcountdown.over_img, .product_list .wbproductcountdown.custom_over_img,
#product_list .wbproductcountdown.over_img, #product_list .wbproductcountdown.custom_over_img {
    position: absolute;
    top: 100px;
    right: 1px;
    left: 1px;
}
.product_list .hovered .wbproductcountdown.over_img, .product_list .hovered .wbproductcountdown.custom_over_img,
#product_list .hovered .wbproductcountdown.over_img, #product_list .hovered .wbproductcountdown.custom_over_img {
    display: none;
}
.product_list .left-block .wbproductcountdown.over_img, .product_list .left-block .wbproductcountdown.custom_over_img,
#product_list .left-block .wbproductcountdown.over_img, #product_list .left-block .wbproductcountdown.custom_over_img {
    display: none;
}
#product_list .ajax_block_product:hover .wbproductcountdown.over_img,
#product_list .ajax_block_product:hover .wbproductcountdown.custom_over_img {
    display: none;
}
#product .wbproductcountdown {
    text-align: center;
    padding: 5px 0;
    margin-bottom: 0;
    clear: both;
}
#product .pb-center-column .wbproductcountdown {
    text-align: left;
}
.wbpc-offer-ends {
    display: none;
}
.ajax_block_product {
    position: relative;
}

/*1.7*/
.product-miniature .wbproductcountdown {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 135px;
    padding-top: 7px;
    padding-bottom: 0;
}
.product-miniature:hover .wbproductcountdown {
    display: none;
}
.wbproductcountdown .label {
    text-align: center;
}

#product .wbpc17 {
    text-align: left;
    margin-bottom: 1rem;
}
#product .wbpc17.displayProductButtons {
    margin-top: 1.5rem;
}
#product .wbpc17.displayFooterProduct {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
}
.product-miniature .wbproductcountdown {
    display: none;
}
#owl-special .product-miniature .wbproductcountdown {
    display: block;
}