@media (min-width:768px){
    .col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12,
    .col-xl-1,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-10,.col-xl-11,.col-xl-12,
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: right;
    }
}
@media (min-width:768px){
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        float: right;
    }
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    float:right;
}
.float-xs-left,.float-md-left,.float-lg-left,.float-sm-left{
    float: right
}
.float-xs-right,.float-sm-right,.float-md-right,.float-lg-right{
    float: left
}
.list-unstyled {
    padding-right: 0;
}
.text-xs-right,.text-sm-right{
    text-align: left ;
}
.text-xs-left,.text-sm-left,.text-md-left,.text-lg-left {
    text-align: right ;
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"] input[type="radio"]{
    float: left;
    left: 0;
    margin-left: 0;
}
.close {
    float: left !important;
}
ul{
    padding-right: 0;
}
.label, label{
    text-align: left;
}
.dropdown-menu{
    text-align: right;
    left: 0;
    right: auto;
}
#_desktop_user_info  .dropdown-menu,.notification .notification-close{
    left: 0;
    right: auto;
}
caption, th,.fancybox-error{
    text-align: right;
}
.modal-footer{
    text-align: left !important;
}
.dropdown-menu-right {
    left: 0;
    right: auto;
}
#_desktop_cart ul{
    left: 15px;
    right: auto !important;
}
.fancybox-close{
    left: -18px;
    right: auto !important;
}
.cartprice,#js-product-list .pagination .page-list,#wb_category_feature {
    direction: ltr;
}
#header,.pro-tab,.block_newsletter,.propage,.breadcrumb,.form-group,.table,#footer,#blockcart-modal .modal-title,#new_comment_form,.wb-product-desc,#category #js-product-list,.page-my-account #content .links,
#block-reassurance,body#checkout section.checkout-step,.modal-body,.commlist,.allbl,#stores .page-stores,#pagenotfound #main .page-content, #products #main .page-content,.listds p,.parallex .item,.page-content.page-cms,
.blog_post_content_bottom,.custdesc,.product-title,.custdes p,.menu,#search_filters, #search_filters_brands, #search_filters_suppliers,.products-tab,.sort-by,.wb-grid-list,ul.wlp_bought_list li .btn_action,#pagenotfound .page-not-found .search-widget input, #products .page-not-found .search-widget input,#js-checkout-summary,
#manufacturer #js-product-list,#search #js-product-list,.active_filters,.sub-cat li,.product-tab,.block-categories,.block-category,.wlp_bought,.contact-rich,.card,.page-order-detail .box,.page-footer ,#respond,#comments,.products-sort-order .select-title,
.page-authentication #content-wrapper .page-content,.page-addresses .address, .page-authentication #content{
    direction: rtl;
}
#blockcart-modal .modal-body{
    direction: rtl !important;
}
.archb .post_thumbnail .material-icons{
    left: 10px;
    right: auto !important;
}
.page-footer .account-link{
    margin-left: 1rem;
    margin-right: auto !important;
}
#scroll{
    left: 10px;
    right: auto !important;
}
.sidenav{
    right: 0;
    left: auto !important;
    text-align: right !important;
}
#mobile_top_menu_wrapper .top-menu .sub-menu li > a{
    text-align: right;
}
.closebtn,.right-angle{
    float: left !important;
}
.comment_content i{
  margin-left: 15px;
  margin-right: auto !important;
}
.comment_meta_date span{
  margin: 0 -7px 0 0 !important;
}
.sco{
  padding-left: 0 !important;
  padding-right: 30px ;
}
#close_search_query_nav{
    left: 5px;
    right: auto !important;
}
.search-widget form button[type=submit]{
    left: 0;
    right: auto !important;
}
.quickview .mask{
    margin-right: .625rem;
    margin-left: auto !important;
}
.quickview .arrows{
        left: 46px;
    right: auto !important;
}
/* topbar */
.page-my-account #content .links a i{
    float: right !important;
}
.desktop-search::before{
    right: 0;
    left: auto !important;
}
.header-nav .dropdown-menu{
    left: 0 !important;
    right: auto !important;
}
svg {
    transform: rotateY(-180deg);
}
.cartprice{
right: 75px;
left: auto !important
}
#footer_contact .icon i{
        float: right !important;
        margin-left: 12px;
        margin-right: auto !important;
}
#footer_contact .data {
    padding-right: 25px;
    padding-left: 0 !important;
}
.user-down{
    left: 0;
    right: auto !important;
}
#search_block_top .btn.button-search{
    left: 0;
    right: auto !important;
}
.wbpc-main .label{
    text-align: right !important;
}
.thumbnail-container .sale {
    right: auto !important;
    left: -15px;
}
.thumbnail-container .sale::before{
    left: 0;
     right: auto !important;
     border-width: 55px 55px 0 0 !important;
}
.sale span{
        transform: rotate(-45deg) !important;
}
.pro-tab.tabs .nav-tabs{
        margin-right: 0 !important;
        margin-left: 85px;
}
.owl-theme .owl-nav{
    left: 0;
}
.slick-prev.slick-arrow,.slick-next.slick-arrow,.owl-theme .owl-nav{
 right: auto !important;
}
.slick-prev.slick-arrow{
    left: 15px;
}
.slick-next.slick-arrow{
    left: 60px;
}
#left-column .owl-theme .owl-nav{
    left: 10px;
}
.blog_post_content_bottom {
    padding-right: 15px !important;
    padding-left: 0 !important;
}
.home-heading{
    text-align: right !important;
}
#search_category{
    background-position: left bottom 4px !important;
        border-left: none;
    border-right: 1px solid #dcdcdc;
}
input#search_query_top {
    border-left: 1px solid #dcdcdc !important;
    border-right: none !important;
}   
.input-group .form-control{
    float: right !important;
}
.cart-products-count.cart-c{
        left: -8px;
        right: auto !important;
}

 .catb{
    left: 15px;
    right: auto !important;
 }
 .catb.toggle::after{
    float: left !important;
 }
 .wb-menu-vertical .wb-sub-menu li.menu-item.bh::after{
    right: 15px;
    left: auto !important;
 }
 .wb-menu-vertical li.level-1.parent > a:before{
    left: 0;
    right: auto !important;
 }
 #header .wb-menu-vertical ul li.level-1 li.item-header .product-name{
    text-align: right !important;
 }
 .wb-menu-vertical{
    direction: rtl;
 }
 @media (min-width: 1200px) {
     #footer .foot-linkblock .wrapper::before, .block_newsletter::before{
            right: -5px;
            left: auto !important;
     }
 }
@media (min-width: 992px) {
.top-menu .sub-menu ul[data-depth="1"] > li {
    float: right !important;
}
.wb-menu-vertical .menu-dropdown .product-container .product-name a{
    text-align: right !important;
}
.sale-bkg .sale{
    right: 5px;
}
.wb-menu-vertical ul li.level-1 ul li.parent:after{
    left: 0;
    right: auto !important;
}
.wb-menu-vertical .menu-dropdown.wb-sub-bottom,.wb-menu-vertical .menu-dropdown{
    right: 100%;
    left: auto !important;
}
.wb-menu-vertical li.level-1.parent:hover > a:before {
    transform: rotate(90deg) !important;
}
}
@media (min-width: 768px) {
.footer-container #block_myaccount_infos li a::before, .links .wrapper a::before{
        transform: rotate(180deg);
}
.footer-container #block_myaccount_infos li a:hover::before, .links .wrapper a:hover::before {
    margin-right: auto !important;
    margin-left: 5px;
}
}
@media (max-width: 991px) {
    .wb-menu-vertical .icon-drop-mobile{
        left: 0;
        right: auto !important;
    }
    .pro-tab.tabs .nav-tabs{
        text-align: right !important;
    }
}
.wb-demo-wrap .control {
    border-radius: 0px 3px 3px 0px;
    margin-right: -52px;
    float: right;
}
.wb-demo-wrap .wb-demo-option {
    float: left !important;
}
.wb-demo-wrap {
    left: -200px;
}

@media (max-width: 575px) {
    .forgotten-password .form-fields label.required{
        text-align: right !important;
    }
}
@media (max-width: 767px) {
    .ebtn{
        right: auto !important;
        left: 0;
    }
}
/* product page */
.propage .open-comment-form{
    margin-left: 10px;
    margin-right: auto !important;
}
.propage .open-comment-form i, #ratep i{
    margin-left: 3px;
    margin-right: auto !important;
}
.propage .control-label{
    float: right !important;
    margin-left: 10px;
    margin-right: auto !important;
}
.block-category .category-cover{
    left: .75rem;
    right: auto !important;
}
.product-cover .layer{
    left: 15px;
    right: auto !important;
}
.sitemap ul.nested {
    margin-right: 20px;
    margin-left: auto !important;
}
.form-control-select,#idWishlist{
    background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAAPklEQVR4Ae3TwREAEBQD0V/6do4SXPZg7EsBhsQ8IEmSMOsiuEfg3gL3oXC7wK0bd1G4o8X9F4yIkyQfSrIByQBjp7QuND8AAAAASUVORK5CYII=") no-repeat scroll left .5rem center/1.25rem 1.25rem !important;
}
#idWishlist{
   padding: 5px 5px 5px 28px !important;
}
.product-variants > .product-variants-item select{
    padding-left: 1.875rem;
    padding-right: 0.5rem !important;
}
.zoomWindow{
    right: 418px;
    left: auto !important;
}
#product .modal-body,.post_metas li{
    direction: ltr;
}
.product-customization .custom-file button{
    left: 0;
    right: auto !important;
}
#product_comments_block_tab div.comment div.comment_details,#productCommentsBlock div.star{
    float: right !important;
}
#product_comments_block_tab div.comment_details .title_block, #product_comments_block_tab div.comment_details h4,.new_comment_form_content h2,#new_comment_form .star_content,#new_comment_form label,.product-c,.prodes-c,.propage .star_content, #criterions_list .star_content, .comment_author .star_content{
    text-align: right !important;
}
/* category page */
#subcategories li{
    margin-right: auto !important;
    margin-left: 10px;
}
.custom-checkbox input[type="checkbox"] + span{
    right: 0;
    left: auto !important;
    margin-left: 10px;
    margin-right: auto !important;
}
.facet-label a span {
    left: 30px;
    right: auto !important;
}
.block-categories .collapse-icons,.product-customization .custom-file button{
    left: 0;
    right: auto !important;
}
@media (min-width: 576px){
        .wb-product-list .wb-product-desc,.wb-product-list .thumbnail-container .product-title,.wb-product-list .title-price .product-price-and-shipping{
    text-align: right !important;
    }
    .wb-product-list .sale{
            left: 0;
    }
}
@media (max-width: 767px){
    .products-selection .filter-button {
    padding-left: 15px !important;
    padding-right: 0 !important;
}
 .forgotten-password .form-fields .center-email-fields .form-control-label{
        text-align: right !important;
    }
}
/* other pages */
.page-footer li:nth-child(1) .account-link i{
    transform: rotate(-180deg) !important; 
}
.page-my-account #content .links a i{
        margin: 0 0 0 10px !important;
}
.post_d i{
    margin-left: 3px;
    margin-right: auto !important;
}
.cart-summary-line .value,body#checkout section.checkout-step.-reachable.-complete h1 .step-edit{
    float: left;
}
.custom-checkbox label,body#checkout section.checkout-step .radio-block,.left-home-heading,body#checkout section.checkout-step .payment-options label{
    text-align: right !important;
}
.bootstrap-touchspin {
    float: right;
}
.bootstrap-touchspin input.form-control, .bootstrap-touchspin input.input-group{
    float: right !important;
}
body#checkout section.checkout-step .payment-options .custom-radio {
    margin-left: 1.25rem;
    margin-right: auto !important;
}
.contact-rich .block .icon,#form_wishlist input.inputTxt,#form_wishlist label{
    float: right !important;
}
#blockcart-modal .cart-content .cart-content-btn button {
    margin-left: .3125rem;
    margin-right: auto !important;
}
#pagenotfound .page-not-found .search-widget,
#products .page-not-found .search-widget{
    text-align: right !important;
}
#new_comment_form #criterions_list label {
    float: right !important;
    margin-left: 29px;
    margin-right: auto !important;
}
.wco {
    margin-right: 38px;
    margin-left: auto !important;
}
#blockcart-modal .cart-products-count i {
    margin-left: 10px;
    margin-right: auto !important;
}
body#checkout .condition-label {
    margin-right: 2.5rem;
    margin-left: auto !important;
}
.newback .regular-price{
    font-size: 10px !important;
}
.newback .price{
    font-size: 11px !important;
}
@media (max-width: 575px){
#close_search_query_nav {
    left: 5px;
}
}
@media (min-width: 768px) and (max-width: 991px){
    #_desktop_currency_selector button::before, #_desktop_currency_selector button::after{
        padding: 0 10px !important;
    }
}
@media (min-width: 1200px) and (max-width: 1849px){
    .bsi::after {
        margin-right: 35px;
        margin-left: auto !important;
    }
    .bsi::before {
        margin-right: -35px;
        margin-left: auto !important;
    }
}
#authentication .custom-checkbox label {
padding-left: 0 !important;
padding-right: .625rem;
}
.filter-title::after{
    right: 35px;
    left: auto !important;
    float: right !important;
}

/* cart */
.product-quantity .add, .product-quantity .qty{
    float: right !important;
}
.wb-cart-item-info{
        padding: 0 10px 0 0 !important;
}
.wb-remove-from-cart{
    left: 10px;
    right: auto !important;
}
.delete-wishlist-product{
        left: 15px;
        right: auto !important;
}
.wb-wishlist-product .product-description,.footer_link,#main .images-container .js-qv-mask.scroll,.subcategory-heading,#pagenotfound .page-not-found, #products .page-not-found{
    direction: rtl;
}
.wb-dropdown-cart-content,.wb-dropdown-cart.defaultcart{
    left: 0;
    right: auto !important;
}
#criterions_list label{
    float: right !important;
    margin: 0 0 0 10px !important;
}
